<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="card">
            <div class=" m-2">
              <img id="previsualizacion" class="card-img-top" alt="Imagen no encontrada">
                <div class="card-body" >             
                    <form action="/libros/guardarAdmin" method="post" th:object="${libro}" >
                        <input class="m-1"  type="hidden" th:field="*{id}"/>
                        <span class="m-1">ISBN</span><input class="m-1"  th:field="*{isbn}" placeholder="Descripcion" required /><br/>
                        <span class="m-1">Titulo</span> <input  class="m-1"   th:field="*{titulo}" /><br/>
                        <span class="m-1">Idioma</span> <input  class="m-1"    th:field="*{idioma}"/><br/>
                        <span class="m-1">Portada</span> <input id="urlPortada"  class="m-1"  th:field="*{uriPortada}" onchange="previsualizar()"/><br/>
                        <span class="m-1">Valoracion</span> <input  class="m-1"  th:field="*{valoracionLibro}" /><br/>

                        <span class="m-1">Autor</span> <select  class="m-1"  name="id_autor">
                            <option th:each="autor:${autores}" th:text="${autor.nombre}" th:value="${autor.idAutor}"></option>
                        </select>

                        <span class="m-1">Editorial</span> <select  class="m-1"  name="id_editorial">
                            <option th:each="edit:${editoriales}" th:text="${edit.nombreEditorial}" th:value="${edit.id}"></option>
                        </select>

                        <span class="m-1">Genero</span> <select  class="m-1"  name="id_genero">
                            <option th:each="gen:${generos}" th:text="${gen.nombre}" th:value="${gen.id}"></option>
                        </select>
                        <button type="submit" class="btn btn-dark" ><i class="fas fa-arrow-circle-up"><span style="margin-left: 5px">Guardar</span></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
