<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Subida de relatos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form action="/relato/guardarRelato" method="post" enctype="multipart/form-data">
                <label>Titulo : </label>
                <input type="text" name="titulo" required/> <br> <br>

                <label>Fichero : </label>
                <input type="file" name="ficherosubido" required/><br> <br>

                <label>Genero : </label>
                <select name="genero">
                    <option th:each="gen:${generos}"
                            th:value="${gen.id}" 
                            th:text="${gen.nombre}"/>
                </select>
                <br> <br>
                <button type="submit" class="btn btn-primary">Subir fichero</button>
            </form>                     
            <span th:text="${error}" style="color:red;font-size: 20px"></span>
            <span th:text="${correcto}" style="color:green;font-size: 20px"></span>
            <hr>
            <br> <br>

            <!--  AÑADIR VALORACION   -->

            <form action="/relato/addValoracion" method="post">

                <label>Valoracion :</label>
                <input type="number" name="valoracion" min="0" max="10"/><br> <br>
                <label>ID para probar :</label>
                <input type="number" name="id"/><br> <br>
                <button type="submit" class="btn btn-primary">Añadir valoracion</button>

            </form>

            <hr> <br> <br>

            <table>
                <tr>
                    <th>id</th>
                    <th>titulo</th>
                    <th>valoracion usuarios</th>
                    <th>Genero</th>
                    <th>numero valoraciones</th>
                </tr>
                <tr th:each="rel:${relatos}">
                    <td th:text="${rel.id}"></td>            
                    <td th:text="${rel.titulo}"></td>  
                    <td th:text="${rel.valoracionUsuarios}"></td>  
                    <td th:text="${rel.genero.nombre}"></td>  
                    <td th:text="${rel.numeroValoraciones}"></td>  
                    <td> <a class="btn btn-danger"  th:href="${'/relato/eliminarRelato?id='+rel.id}" >Eliminar</a></td>


                    <!-- FALTA EL MODIFICAR -->
                    <td> <a class="btn btn-danger"  th:href="${'/relato/modificar?id='+rel.id}" >Modificar</a></td>

                </tr>

            </table>
            <hr> <br> <br>



        </div>
    </body>
</html>
