<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Subida de relatos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form action="/relato/guardarRelato" method="post" enctype="multipart/form-data">
                <label>Titulo : </label>
                <input type="text" name="titulo" required/> <br> <br>

                <label>Fichero : </label>
                <input type="file" name="ficherosubido"/><br> <br>

                <label>Genero : </label>

                <select name="genero">
                    <option th:each="gen:${generos}"
                            th:value="${gen.id}" 
                            th:text="${gen.nombre}"
                            th:selected="false"
                            />
                </select><br> <br>

                <button type="submit" class="btn btn-primary">Subir fichero</button>
            </form>
            
            
            
<!--  PARA PROBAR SI FUNCIONA EL BORRAR , SI FUNCIONA          
             <a class="btn btn-danger"  th:href="${'/relato/eliminarRelato?id='+2}" >Eliminar</a>
    -->
            

        </div>
    </body>
</html>
