<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container pt-5 px-5">
            <h1>Listado de Géneros</h1>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                <tr th:each='genero: ${generos}'>
                    <td th:text='${genero.id}'></td>
                    <td th:text='${genero.nombre}'></td>
                </tr>
            </table>
    </body>
</html>
