<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="contenedor">
            <form action="/genero/guardar" th:object="${genero}" method="post">
                <label>Añadir género</label>
                <input type="hidden" th:field="*{id}"/>
                <input type="text" th:field="*{nombre}"/>
                <input type="submit" value="Añadir" class="btn btn-outline-dark"/>   
            </form>
        </div>
    </body>
</html>
