<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contacto</title>
</head>
<body>
<div class="card">
  <div class="card-header">
    Contactos
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Jesus</li>
    <li class="list-group-item">Jorge</li>
    <li class="list-group-item">Daniel</li>
    <li class="list-group-item">Adrian</li>
    <li class="list-group-item">Mohamad</li>
    <li class="list-group-item">Isabel</li>
  </ul>
</div>
</body>
</html>