<html xmlns:th="https://www.thymeleaf.org">


    <head>
        <title>HiberLibros</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!--        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.1/flatly/bootstrap.min.css" rel="stylesheet" media="all">-->

    </head>
    
    <header class="container-fluid">
        <div class="row">
        <div class="col-9">
            <h1 class="text-secondary">HiberLibros <i class="fas fa-book-open text-secondary"></i></h1>
        </div>
        <div class="col-3 float-right">
            <nav class="main-header navbar navbar-expand-lg navbar-light bg-light " >
                <li class="nav-item d-none d-sm-inline-block">
                    <i class="bi-house fs-1"><a href="/hiberlibros" class="nav-link">Inicio</a></i>
                </li> 
                <li class="nav-item d-none d-sm-inline-block">
                    <i class="bi bi-chat-left"><a href="#" class="nav-link">Contacto</a></i>
                </li>
                
            </ul>
             <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle h2"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li class="nav-item d-none d-sm-inline-block"><i class="bi bi-box-arrow-right"><a href="/hiberlibros" class="nav-link">Salir</a></i></li>
                    </ul>
                </div>
           </nav>
           
        </div>
        </div>
    </header>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/hiberlibros" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class="bi-house fs-1"><span class="ml-1">Volver a Hiberlibros</span></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a  id="boton" href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi bi-people fs-1"><span class="ml-1">Gestion de Usuarios </span></i>
                        </a>
                    </li>
                    <li>
                        <a id="boton2" href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class="bi bi-book fs-1"><span class="ml-1">Gestion de Libros</span></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi-table fs-1"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <i class="bi-heart fs-1"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi-people fs-1"></i>
                        </a>
                    </li>
                </ul>
               
            </div>
        </div>
        <div id="capa" class="col-sm p-3 min-vh-100">
            
        </div>
    </div>
</div>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script> 
        <script src="../inicial.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
             $("#boton2").click(function(event) {
              $("#capa").load("/gestionlibros");
             });
            });
            
            $(document).ready(function() {
             $("#boton").click(function(event) {
              $("#capa").load("/usuarios");
             });
            });
        </script>
</body>

</html>

