<html xmlns:th="https://www.thymeleaf.org" 
      th:replace="principal/layoutUsuario::layout(~{::body})">

    <body>

        <form action="/hiberlibros/guardarLibro">
            <input type="hidden" name="id" th:value="${usuario.id}"/>
            <input type="text" name="buscador" placeholder="Buscar por título o ISBN"/>
            <input type="submit" value="buscar" class="btn btn-primary"/>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Idioma</th>
                    <th>Editorial</th>
                    <th>Valoracion</th>
                    <th>Estado</th>
                    <th>Quiero/Tengo</th>
                    <th>Reservar</th>
                </tr>
            </thead>
            <tr th:each="libro:${libros}">
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.idioma}"></td>
                
                <td th:text="${#objects.nullSafe(libro?.autor?.nombre,'') + ' ' + #objects.nullSafe(libro?.autor?.apellidos,'')}"></td>
                <td th:text="${libro.editorial.nombreEditorial}"></td>
                <td th:text="${libro.genero.nombre}"></td>
                <td th:text="${libro.valoracionLibro}"></td>

                <td>                   
                    <a type="button" class="btn btn-dark btn-sm" th:href="${'/eliminar?id='+ libro.id}"><i class="far fa-trash-alt" ><span style="margin-left:5px">Borrar</span></i></a>
                </td>
                <td>
                    <a type="button" class="btn btn-dark btn-sm" th:href="${'/modificar?id='+ libro.id}"><i class="far fa-trash-alt" ><span style="margin-left:5px">Modificar</span></i></a>
                </td>
            </tr>

        </table>
    </body>
</html>
