<html xmlns:th="https://www.thymeleaf.org" 
      th:replace="principal/layoutUsuario::layout(~{::body})">

    <body>
        <div class="container">
            <form action="/hiberlibros/buscarLibro" method="get">
                <input type="text" name="buscador" placeholder="Buscar por título o ISBN"/>
                <input type="submit" value="Buscar" class="btn btn-primary"/>
                <a href="/hiberlibros/buscarLibro" class="btn btn-warning"><i class="far fa-trash-alt"></i>&nbsp;Limpiar filtros</a>
            </form>
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Idioma</th>
                        <th>Editorial</th>
                        <th>Valoracion</th>
                        <th>Estado</th>
                        <th>Quiero/Tengo</th>
                        <th>Propietario</th>
                        <th>Reservar</th>
                        <th class="thbuscarrelatos">Valoración (0-5)</th>
                    </tr>
                </thead>
                <tr th:each='l:${libros}'>
                    <td th:text="${l.libro.titulo}"></td>
                    <td th:text="${l.libro.idioma}"></td>
                    <td th:text="${l.libro.editorial.nombreEditorial}"></td>
                    <td class="text-center"> 
                        <span th:text="${l.libro.valoracionLibro}"></span>
                        <i class="fas fa-star" style="color:orange"></i>  
                    </td> 
                    <td th:text="${l.estadoConservacion}"></td>
                    <td th:text="${l.quieroTengo}"></td>
                    <td th:text="${l.usuario.nombre}"></td>
                    <td><a th:href="@{/peticion/alta(id_ul=${l.id}, id_solicitante=${usuario.id})}"   class="btn btn-secondary">Pedir</a></td>
                    <td>
                        
                        
<!--                        <form action="/libro/addValoracionLibro" method="post">      
                            <input type="hidden" name="idUsuario" th:value="${usuario.id}"/>           
                            <input type="hidden" name="id"  th:value="${rel.id}" />  
                            <p class="clasificacion">

                                <input class="puntuacion" th:id="${rel.id + 'radio5'}" type="radio" name="valoracion" value="5">
                                <label th:for="${rel.id + 'radio5'}" class="estrella">★</label>

                                <input class="puntuacion" th:id="${rel.id + 'radio4'}" type="radio" name="valoracion" value="4">
                                <label th:for="${rel.id + 'radio4'}" class="estrella">★</label>

                                <input class="puntuacion" th:id="${rel.id + 'radio3'}" type="radio" name="valoracion" value="3">
                                <label th:for="${rel.id + 'radio3'}"  class="estrella">★</label>

                                <input class="puntuacion" th:id="${rel.id + 'radio2'}" type="radio" name="valoracion" value="2">
                                <label th:for="${rel.id + 'radio2'}"  class="estrella">★</label>

                                <input class="puntuacion"  th:id="${rel.id + 'radio1'}" type="radio" name="valoracion" value="1">
                                <label th:for="${rel.id + 'radio1'}"  class="estrella">★</label>



                            </p>
                            <button type="submit" class="btn btn-primary">Añadir valoracion</button>
                        </form>-->

                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
