<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>HiberLibros</title>
        <meta charset="UTF-8">
        <link href="../estilo.css" rel="stylesheet"/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <style>
            .contenedor{
                margin: 15px;
                margin-left: 40px;
            }
            label{
                margin-right: 15px;
            }
        </style>
    </head>
    <body>
        <div class="contenedor">
            <form action="/preferencia/anadir" th:object="${preferencia}" method="post">
                <label>Elegir Género:</label>  
                <select  class="m-3"  name="id_genero">
                        <option th:each="genero:${generos}" th:text="${genero.nombre}" th:value="${genero.id}"></option>
                    </select>
                <br>
                <label>Elegir Autor:</label>  
                <select  class="m-3"  name="id_autor">
                        <option th:each="autor:${autores}" th:text="${autor.nombre}" th:value="${autor.id}"></option>
                    </select>
            </form>
        </div>
    </body>
</html>
